{% extends 'body.html' %}

{% block content %}
<form action="." method="POST">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-save"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}

            {# valdiar errores del formulario #}

            {% if form.errors %} {# valdiar errores del formulario por cada componente #}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Error al registro de categoría</h4>
                {# iterar todos los campos del formulario #}
                <ul>
                {% for field in form %}
                   {% for error in field.errors %}
                     <li>{{error}}</li>
                   {% endfor %}
                {% endfor %}
                </ul>



                
            </div>
            {% endif %}





            {# esto serviria si hay varios campos #}

            {# {% for fiel in form.visible_fields %}#}
            {# <div class="form-group">#}
             {#    <label for="text">{{field.label}} </label>#}
            {#     {{field}}#}
           {#  </div>#}

           {#  {% endfor %}#}

            {{ form.name }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-save"></i> Guardar Registros
            </button>
        </div>
    </div>
</form>
{% endblock %}